<a href="https://colab.research.google.com/github/Sab01123/Evaluation-code-4/blob/master/Day1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
# vairables
roll_number = 100
name = "sabira"
marks = 87.6

print("Name is: " + name)
# print("Roll is: " + roll_number)  can only concatenate str (not "int") to str
print("Roll is: "+ str(roll_number))
print("Marks are: "+ str(marks))

# Name is: sabira
# Roll is: 100
# Marks are: 87.6

#complex
comp = 30 + 5j
print(comp.real)
print(comp.imag)

# 30.0
# 5.0

## Performing Arthimetic Operators

a = 2 + 3j
b = 1 - 2j

z1 = a + b
z2 = a - b
z3 = a * b
z4 = a / b

print("addition is: " + str(z1))

print("subtraction is: " + str(z2))             # (2 + 3j) - (1 - 2j) -->  2 + 3j -1 + 2j -->  1 + 5j

print("multiplication is: " + str(z3))          # (2 + 3j) * (1 - 2j)
                                                # 2*1 - 2*2j +3j*1 - 3j*2j
                                                # 2 -4j + 3j - 6*j**2
                                                # 2 -1j -6*(-1)    j**2 is equal to -1
                                                # 2 -1j + 6
                                                # 8 -1j

print("division is: " + str(z4))


# addition is: (3+1j)
# subtraction is: (1+5j)
# multiplication is: (8-1j)
# division is: (-0.8+1.4j)

#Conjugate

conj_a = a.conjugate()
print("conjugate of " + str(a) +" is: "+str(conj_a))
# conjugate of (2+3j) is: (2-3j)

conj_b = b.conjugate()
print("conjugate of " + str(b) +" is: "+str(conj_b))
# conjugate of (1-2j) is: (1+2j)

# Convert str into complex dataType

str_num = "1+3j"
comp_num = complex(str_num)
print(comp_num)  # (1+3j)

Name is: sabira
Roll is: 100
Marks are: 87.6
30.0
5.0
addition is: (3+1j)
subtraction is: (1+5j)
multiplication is: (8-1j)
division is: (-0.8+1.4j)
conjugate of (2+3j) is: (2-3j)
conjugate of (1-2j) is: (1+2j)
(1+3j)

In [46]:
# in_built dataTypes

# 1) Numeric types: int, float, complex
int_num = 123
float_num = 123.22
comp_num = 1 + 3j
print(int_num, float_num, comp_num) # 123 123.22 (1+3j)

# long- holds long integers(exists in Python 2.x, deprecated in Python 3.x).

# 2) String/Text data type
str1 = "hello i'm string"
str2 = 'welcome to python'

print(str1 +", "+ str2) # hello i'm string, welcome to python

# 3) List Data Type

# list
arr = [1, 2, 3, 4]
print(arr)

str_arr = ["sabira", "farooq", "haleef"]
str_arr[2] = "ayzal"
print(str_arr)  # ['sabira', 'farooq', 'ayzal']

# Tuple

tuple_list = ("sabira", "farooq", "haleef")
# tuple_list[2] = "ayzal" TypeError: 'tuple' object does not support item assignment
# tuples are immutable
print(tuple_list)

# Dictionary

info = {
    "id": 31,
    "name" :"sabira",
    "address":"hyd",
    "phone":1234

}

print(info)   # {'id': 31, 'name': 'sabira', 'address': 'hyd', 'phone': 1234}

# set

my_set = {"india", "china", "afga", "us"}
print(my_set)   #  {'india', 'us', 'china', 'afga'}
# A set is a collection which is unordered, unchangeable*, and unindexed.
# Set items are unchangeable, but you can remove items and add new items

###################
# boolean Type: True and False
#None Type: None

# Binary Type: bytes, bytearray, memoryview

#bytes
# The bytes is an immutable sequence type to represent sequences of bytes (8-bit values).

my_byte = b"hello"
my_byte2 = b'hi'
print(my_byte)
print(my_byte2)

#bytearray

my_byte_arr = bytearray([10, 20, 88, 34, 50])
print(my_byte_arr) # bytearray(b'\n\x14X"2')

# Array of bytes from an iterable list
my_list = [1,2,3]
my_byte_list = bytearray(my_list)
print(my_byte_list) # bytearray(b'\x01\x02\x03')

# MemoryView

data = bytearray([1 ,2, 3, 4, 5, 6])
mem = memoryview(data)
print(mem)

123 123.22 (1+3j)
hello i'm string, welcome to python
[1, 2, 3, 4]
['sabira', 'farooq', 'ayzal']
('sabira', 'farooq', 'haleef')
{'id': 31, 'name': 'sabira', 'address': 'hyd', 'phone': 1234}
{'india', 'us', 'china', 'afga'}
b'hello'
b'hi'
bytearray(b'\n\x14X"2')
bytearray(b'\x01\x02\x03')
<memory at 0x7fd7fc190e80>

In [48]:
# Type conversion
# implicit
num1 = 20
num2 = 23.4
sum = num1+num2
print(sum)

# explicit
 # str to float

my_str = "112.32"
my_float = float(my_str)
print(my_float) # 112.32

#

43.4
112.32

In [5]:
#Operators

# arithmetic operators: +, -, *, /, //, %, **
a = 10
b = 3

print(a+b)  # 13
print(a-b)  # 7
print(a*b)  # 30
print(a/b)  # 3.3333333333333335
print(a//b) # 3
print(a%b)  # 1
print(a**b) # 1000

# comparision operators: ==, !=, >, <, >=, <=

print(a==b)  # False
print(a!=b)  # True
print(a>b)   # True
print(a<b)   # False
print(a>=b)  # True
print(a<=b)  # False

# Assignment Operators

x = 10
y = 20

# x = x+y
x += y

print(x)    #30

y -= 10
print(y)    #10

# Logical Operators

a = True
b = False

print(a or b)  # True
print(a and b) # False

# Case OR
# a    b       output
# T    T         T
# T    F         T
# F    T         T
# F    F         F

# Case AND
# a    b       output
# T    T         T
# T    F         F
# F    T         F
# F    F         F

13
7
30
3.3333333333333335
3
1
1000
False
True
True
False
True
False
30
10
True
False